{% extends 'base.html' %}
{% block content %}
<form action="/countries" method="POST">
    <div class="country-name">
        <label for="country_name">
            <h1>Add Country:</h1>
        </label>
        <input type="text" id="country_name" name="country_name" placeholder="Track Countries Visited" size="30">
    </div>
    <div class="add_country_btn">
        <style>
            button {
                display: center;
                background-color: purple;
                padding: 10px;
                width: 150px;
                color: white;
                text-align: center;
            }
        </style>
        <button type="submit">
            <h3>Add New Country</h3>
        </button>
    </div>
</form>
{% endblock %}