<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Neil's Python App</title>
</head>

<body>
    <header class="main-header">
        <nav class="nav main-nav">
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/countries">Countries Travel List</a></li>
            </ul>
        </nav>
        <h1 class="header-name">Python Global Travel</h1>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>